body {
    box-sizing: border-box;    
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: teal;
}

.logo {
    width: 70px;
    height: 60px;
    margin-right: 10px;
}

.header-container{  
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 900px;
    margin: 0 auto
}

.header-logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.btn {
    display: inline-block;
    border: none;
    background-color: rgb(102, 214, 67);
    padding: 10px 20px;
    border-radius: 0.25rem;    
}

.input {
    display: inline-block;
    border: none;
    background-color: white;
    padding: 7px 16px 8px 16px;
    border-radius: 0.25rem;
    outline: none;
}

.titulo-header{
    font-size: 1.5rem;
    color: white;

}

/*================================================== Main====================*/

.body-conatiner {
    max-width: 900px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);     
    margin: 10px auto;
}

.imgNasa {   
    border-radius: 0.25rem;    
    max-height: 540px;
}

.info {
    margin: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.body-texto {
    font-size: 0.8rem;
    margin: 10px;
    padding: 10px;
    font-weight: 600;
}

.body-texto span {    
    font-weight: 400;
}

.titulo-body{
    font-size: 1rem;
}
#bem-vindo {
    margin: 150px 30px;
    font-size: 3rem;
    font-weight: 600;    
}

@media (max-width: 700px)
{

    .header {
        
        height: 90px;
        
    }
    .body-conatiner {     
       
        grid-template-columns: repeat(1, 1fr);
        justify-items:center;
       
    }

    .imgNasa {  
        
        max-width: 350px;        
        padding: 0 20px;
    }

    .info {  
        max-width: 350px; 
        padding:0 20px
    }
    .titulo-header{
        font-size: 0.9rem;
        color: white;
    
    }
    .input {
       margin-top: 10px;
       margin-bottom: 5px;
       margin-right: 5px;
    }
    .body-texto {
        margin: 0px;
    }
    .info{
        padding: 0;
    }
        
}